.header {
  font-weight: 900;
  letter-spacing: 2px;
  font-family: "Open sans";
  font-size: 2.5em;
  width: 500px;
  max-width: 100%;
  padding-bottom: 4px;
  padding-top: 30px;
}

.demo-col {
  width: 50%;
}

.demo-container {
  padding-bottom: 20px;
}

.desc {
  font-family: "Open sans";
  width: 600px;
  max-width: 100%;
  font-size: 1.05em;
  padding-bottom: 6px;
}

#field {
  resize: none;
  width: 300px;
  height: 350px;
  max-width: 100%;
  padding-top: 5px;
  border-radius: 6px;
  border: 3px solid #479191;
}
#field:focus {
  outline: black;
  border: 3px solid black;
}

.demo-row {
  max-width: 100%;
  padding-top: 45px;
  column-gap: 50px;
}

/** EXTENTION EXACT MOCKUP **/
.demo-form {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    210deg,
    rgba(255, 255, 255, 1) 58%,
    rgba(174, 224, 224, 1) 100%
  );
  border: 3px solid #479191;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  position: relative;
  background-image: url("/public/logo.png");
  width: 300px;
  height: 75px;
  background-size: contain; /* Ensure the image scales correctly */
  background-repeat: no-repeat;
  top: -10px;
}

label {
  font-family: "Oswald";
  font-size: 14px;
}

textarea {
  border: 2px solid #479191;
  border-radius: 5px;
  width: 98%;
}

.output {
  padding-bottom: 5px;
  font-size: 14px;
  font-family: "Open sans";
}

/** CUSTOM SELECT DROPDOWN MENU **/

.select-dropdown {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #479191;
  color: white;
  background-color: #e6e6e6;
  border-radius: 6px;
  width: fit-content;

  z-index: 10; /* Ensure it's above other elements */
}
select {
  color: black;
}

.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  padding: 8px 20px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  pointer-events: none;
}

/** CUSTOM SUBMIT BUTTON **/

.submit-btn {
  margin-top: 6px;
  font-family: "Oswald";
  background-color: #8abfbf; /* Green */
  border: 2px solid #479191;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:focus {
  border: 2px solid black;
}
@media (max-width: 992px) {
  .header {
    padding-top: 10px;
  }

  .demo-col {
    width: 100%;
  }
}
